@use 'base/variables' as var;
@use 'base/mixins' as mixin;

.repartidores {
    padding: var.$separacion 0;

    &__heading {
        text-align: center;
        color: var.$secundario;
    }
    
    &__grid {
      @include mixin.tablet { 
        @include mixin.grid (2, var.$separacion);
        align-items: center;
       }
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    &__texto {
        line-height: 1.5;
        color: var.$secundario;
    }

    &__enlace {
        @include mixin.boton(var.$primario, var.$blanco);
    }
}